a {
  color: #6b8f4a;
  &:hover {
    color: rgba(116,155,81, 0.7);
    text-decoration: none;
  }
}

.links-small {
  font-size: 0.8rem;
}

body {
  background-color: #EAEAEA;
}

.left-container {
  background-color: #222;
  min-height: 30vh;
  padding-top: 4rem;
}

@include media-breakpoint-only(sm) {
  .left-container {
    min-height: 8vh;
  }
}

.info-container {
  width: 85%;
  overflow-wrap: break-word;
}
