a {
  color: #6b8f4a;
  &:hover {
    color: rgba(116,155,81, 0.7);
    text-decoration: none;
  }
}

body {
  background-color: #EAEAEA;
}

.left-container {
  position: relative;
  background-color: #222;
  width: 100%;
  min-height: 35vh;
  padding-top: 5rem;
}
.right-container {
  position: relative;
  width: 100%;
  padding-top: 5rem;
}

.full-height {
  min-height: 100vh;
}

.padding-top {
  padding-top: 7rem;
}

.info-container {
  width: 85%;
}
