// Specific CSS for your home-page
.avatar-home {
  width: 400px;
  position: absolute;
  right: -25%;
  z-index: 3;
}
.avatar-home-small {
  width: 40%;
  padding-top: 4rem;
}
.content {
  width: 75%;
}
.grey-paragraph {
  color: #666;
}
