<div class="row d-md-flex min-vh-100 min-vw-100">
  <div class="col col-12 col-md-4 left-container py-5">
    <div class="d-flex align-items-stretch">

      <nav>
        <div class="p-5">
          <ul class="list-unstyled components mb-5">
            <li>
              <%= link_to 'Herbs', '#herbSubmenu', { class: "dropdown-toggle", data: { toggle: :collapse }, 'aria-expanded': "false" } %>
              <ul class="collapse list-unstyled" id="herbSubmenu">
                <li>
                  <%= link_to 'Get Herbs', 'api?page=pages%2Fapi%2Fherbs%2Fget_herbs', remote: true %>
                </li>
                <li>
                  <%= link_to 'Show Herbs', 'api?page=pages%2Fapi%2Fherbs%2Fshow_herbs', remote: true %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>

  <div class="col col-12 col-md-8 d-flex flex-column
              justify-content-center align-items-center py-5">
    <div class="info-container py-5">
      <h2 class="pb-4">Here are the available API methods</h2>


      <div id="api-page-content">

      </div>

      <!-- <h3 class="py-3">Herbs</h3>
      <p><strong>List all herbs</strong></p>
      <p>https://theteaapi.herokuapp.com/api/v1/herbs</p>
      <p><strong>Search for herbs by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herbs?name=<em>enter_your_herb_name</em>
      </p>
      <p><strong>Show a specific herb by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herbs/<em>enter_herb_name</em>
      </p>

      <h3 class="py-3">Herb types</h3>
      <p><strong>List all herb types</strong></p>
      <p>https://theteaapi.herokuapp.com/api/v1/herb_types</p>
      <p><strong>Search for herb types by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herb_types?name=<em>enter_your_herb_type_name</em>
      </p>
      <p><strong>Show a specific herb type by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herb_types/<em>enter_herb_type_name</em>
      </p>

      <h3 class="py-3">Misc Ingredients</h3>
      <p><strong>List all miscellaneous ingredients</strong></p>
      <p>https://theteaapi.herokuapp.com/api/v1/misc_ingredients</p>
      <p><strong>Search for miscellaneous ingredients by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herb_types?name=<em>enter_your_ingredient_name</em>
      </p>
      <p><strong>Show a specific ingredient by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herb_types/<em>enter_ingredient_name</em>
      </p> -->
    </div>
  </div>
</div>


