<div class="row d-md-flex min-vh-100">
  <div class="col col-12 col-md-3 left-container"></div>

  <div class="col col-12 col-md-9 d-flex flex-column
              justify-content-center align-items-center py-5">
    <div class="info-container py-5">
      <h2 class="pb-4">Here are the available API methods</h2>

      <h3 class="py-3">Herbs</h3>
      <p><strong>List all herbs</strong></p>
      <p>https://theteaapi.herokuapp.com/api/v1/herbs</p>
      <p><strong>Search for herbs by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herbs?name=<em>enter_your_herb_name</em>
      </p>
      <p><strong>Show a specific herb by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herbs/<em>enter_herb_name</em>
      </p>

      <h3 class="py-3">Herb types</h3>
      <p><strong>List all herb types</strong></p>
      <p>https://theteaapi.herokuapp.com/api/v1/herb_types</p>
      <p><strong>Search for herb types by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herb_types?name=<em>enter_your_herb_type_name</em>
      </p>
      <p><strong>Show a specific herb type by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herb_types/<em>enter_herb_type_name</em>
      </p>

      <h3 class="py-3">Misc Ingredients</h3>
      <p><strong>List all miscellaneous ingredients</strong></p>
      <p>https://theteaapi.herokuapp.com/api/v1/misc_ingredients</p>
      <p><strong>Search for miscellaneous ingredients by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herb_types?name=<em>enter_your_ingredient_name</em>
      </p>
      <p><strong>Show a specific ingredient by name</strong></p>
      <p>
        https://theteaapi.herokuapp.com/api/v1/herb_types/<em>enter_ingredient_name</em>
      </p>
    </div>
  </div>
</div>


