.registration-card {
  box-shadow: 6px 3px 53px -30px #000;
  position: absolute;
  left: -10%;
  top: 20%;
  z-index: 4;
}

.registration-card-left {
  background-color: #151515;
}

.registration-card-right {
  background-color: #fafafa;
}

.tea-cup-registration {
  width: 100%;
}

.rememberable-checkbox {
  font-size: 0.8rem;
}

.user_password {
  margin-bottom: 0.5rem;
}

.forgot-password-container {
  margin-top: -0.2rem;
}
